<dialog id="create_order" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <div class="flex flex-col">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

        <div class="prose">
          <h2>
            Create new Box:
          </h2>
        </div>
        <!-- This input collects IDs of created boxes -->
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Boxes IDs:</span>
          </label>
          <input type="text" placeholder="Enter IDs separated by comma" class="input input-bordered w-full"
                 id="boxes" name="boxes" required/>
        </div>

        <!-- This input collects Customer data -->
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Customer:</span>
          </label>
          <input type="text" placeholder="Enter customer" class="input input-bordered w-full"
                 id="customer" name="customer" required/>
        </div>

        <!-- This input collects Shipping Status data -->
        <div class="form-control w-full mb-3">
          <label class="label">
            <span class="label-text">Shipping Status:</span>
          </label>
          <input type="text" placeholder="Enter shipping status" class="input input-bordered w-full"
                 id="shippingStatus" name="shippingStatus"  required/>
        </div>

        <button class="btn btn-primary" type="submit">
          Create Order
        </button>
      </div>
    </form>
  </div>
</dialog>
