<div class="grid grid-cols-3">
  <div class="col-start-2 col-span-1 card p-3 bg-base-100 shadow-lg">
    <form (ngSubmit)="onUpdateBox($event)" [formGroup]="boxForm">
      <div class="flex flex-col">
        <div class="prose flex flex-row">
          <h2>
            <a [routerLink]="['/boxlist']" class="btn btn-active">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
              </svg>
            </a>
            Update Box:
          </h2>
        </div>

        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Weight:</span>
          </label>
          <input type="number" placeholder="Enter weight" class="input input-bordered w-full"
                 id="weight" name="weight" [formControl]="boxForm.controls.weight"/>
        </div>

        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Colour:</span>
          </label>
          <select class="select select-bordered w-full" id="colour" name="colour" [formControl]="boxForm.controls.colour">
            <option *ngFor="let colour of boxService.getColours()" [value]="colour">{{colour}}</option>
          </select>
        </div>

        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Material:</span>
          </label>
          <select class="select select-bordered w-full" id="material" name="material" [formControl]="boxForm.controls.material">
            <option *ngFor="let material of boxService.getMaterials()" [value]="material">{{material}}</option>
          </select>
        </div>

        <div class="divider">Dimensions</div>

        <div class="flex gap-3">

          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Length:</span>
            </label>
            <input type="number" placeholder="Enter length" class="input input-bordered w-full"
                   id="length" name="length" [formControl]="boxForm.controls.length"/>
          </div>

          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Width:</span>
            </label>
            <input type="number" placeholder="Enter width" class="input input-bordered w-full"
                   id="width" name="width" [formControl]="boxForm.controls.width"/>
          </div>

          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Height:</span>
            </label>
            <input type="number" placeholder="Enter height" class="input input-bordered w-full"
                   id="height" name="height" [formControl]="boxForm.controls.height"/>
          </div>

        </div>

        <div class="divider">Price</div>
        <div class="flex gap-3 mb-3">
          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Price:</span>
            </label>
            <input type="number" placeholder="Enter price" class="input input-bordered w-full"
                   id="price" name="price" [formControl]="boxForm.controls.price"/>
          </div>
          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Stock:</span>
            </label>
            <input type="number" placeholder="Enter stock" class="input input-bordered w-full"
                   id="stock" name="stock" [formControl]="boxForm.controls.stock"/>
          </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!boxForm.valid">Update box</button>
      </div>
    </form>
  </div>
</div>
