<div class="flex gap-3 mb-3 h-auto mx-3">
  <div class="card w-96 bg-base-100 shadow">
    <figure><img src="assets/img/gdyd7htj.png" alt="Shoes"/></figure>
    <div class="card-body">
      <h2 class="card-title">Box factory!
        <div class="badge badge-secondary">NEW</div>
      </h2>
      <p>The box factory manufactures boxes to ship nails.</p>
    </div>
  </div>
  <div class="overflow-x-auto card flex-grow bg-base-100 shadow" style="max-height: 450px;">
    <h1 class="card-title pt-5 pl-5">Latest received orders</h1>
    <table class="table">
      <!-- head -->
      <thead>
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Boxes</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-order [ngForOf]="latestOrders">
        <tr>
          <td>
            <div class="flex items-center space-x-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img src="{{order.customer?.simpsonImgUrl}}" alt="Avatar Tailwind CSS Component"/>
                </div>
              </div>
              <div>
                <div class="font-bold">{{order.id}}</div>
                <div class="text-sm opacity-50">{{order.shippingStatus}}</div>
              </div>
            </div>
          </td>
          <td>
            {{order.customer?.email}}
            <br/>
            <span class="badge badge-ghost badge-sm">{{order.customer?.address?.city}}
              , {{order.customer?.address?.country}}</span>
          </td>
          <td>
            {{order.totalBoxes}} boxes
          </td>
          <td>{{order.totalPrice | number:'1.2-2'}}€</td>
        </tr>
      </ng-template>
      </tbody>
      <!-- foot -->
      <tfoot>
      <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Boxes</th>
        <th>Price</th>
      </tr>
      </tfoot>

    </table>
  </div>
</div>

<div class="flex gap-3 mx-3">
  <div class="card flex-grow bg-base-100 shadow">
    <div style="text-align:center">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [yaxis]="chartOptions.yaxis!"
      ></apx-chart>
    </div>
  </div>

  <div class="stats stats-vertical shadow">
    <div class="stat">
      <div class="stat-title">Orders today</div>
      <div class="stat-value">{{ordersToday}}</div>
      <div class="stat-desc"> Our business model sucks</div>
    </div>
    <div class="stat">
      <div class="stat-title">Orders in total</div>
      <div class="stat-value">{{ordersCount}}</div>
      <div class="stat-desc">Doh!</div>
    </div>
    <div class="stat">
      <div class="stat-title">Boxes sold</div>
      <div class="stat-value">{{boxesSold}}</div>
      <div class="stat-desc">Stonks ↗</div>
    </div>
  </div>
</div>



